

.main-accordino{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

}
.faq-heading h2 {
    
    font-weight: 400;
    color: #000;
}
.wrapper{
    width: 60%;
    gap: 10px;
}