.svgIcon{
    filter: drop-shadow(0px 12px 20px rgb(181, 196, 238));
    width: 3rem;
}
.feat-card{
    box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;
    border: none;
    border-radius: 8px;
}
.feat-card-body{
    padding: 2rem !important;
    transition: transform .5s ease;

}
.feat-card-body:hover{
    transform: scale(1.1);
   
}
.loh{
    margin: 5%;
}
.text-center p{
color: #000;
}