*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mainhead{
    margin: 20px 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: "HelveticaNowMTTextRegular", Helvetica, Arial, sans-serif;
    
}
.featureHead{
    height: 20%;
    margin: 50px 0 30px;
    text-align: center;
    color: #0060FE;
    
}

.featureHead h1{
    font-family: 'poppin';
   
    font-size: calc(1.375rem + 1.5vw);
    
}
.sec-h2{
    font-family: Poppins;
    font-weight: 700;

}
.maincontent{
    width: 50%;
    margin: 0;
    padding: 60px 40px;
    text-align: left;
    box-shadow: #a9a9df40 0 50px 100px -20px, #e7dede4d 0 30px 60px -30px;
    border-radius: 16px;
}
.maincontent h1 ,h3{
    font-size: calc(1.3rem + .6vw);
    
}
.card-text{
    font-size: .938rem;
    margin-left: 0;
    
    

}
.card-text p{
    margin-top: 0;
    margin-bottom: 1rem;
    
}
.card-title{
    color: #0060FE;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}
.card-text p{
    margin-top: 0;
    margin-bottom: 1rem;

}
.main-card{
    margin: 55px 65px;
}
.keycard-img{
    width: 35%;
}
.keycard-img img{
    width: 100%;
    filter: drop-shadow(-2px 20px 14px rgb(181, 196, 238));
}
.maincontent ul{
    list-style-image: url("../assets/download.svg");

}
.keycontent li{
font-weight: 600;
margin-bottom: 8px;
}
.featuresmain{
    margin-top: 5%;
    margin-bottom: 10%;
}

.keylist{
    display: flex;
    
}
.text-start{
    display: flex;
    flex-direction: column;
}