*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

nav{
    
    font: 1.2em "HelveticaNowMTTextRegular", Helvetica, Arial, sans-serif;
    position: fixed;
    height: 57px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    
}
.active{
    box-shadow: 0 4px 6px -1px gray;
    backdrop-filter: blur(8px);
    transition: all .5s ease;
    background-color: #3989fa;
}
.navlogo{
    filter: brightness(0) invert(1);
}


.li{
    display: flex;
    align-self: center;
    font-family: "HelveticaNowMTTextRegular", Helvetica, Arial, sans-serif;
    margin-left: 8px;
    font-size: 18px;
    align-self: center;
}

.menu a{
    padding: 8px;
    color: rgba(10, 10, 10, 0.651);
    text-decoration: none;
   
}
.logoa{
    margin-left: 20px;
}
.logoa img{
    width: 48%;
    vertical-align: middle;
}

.libtn{
    margin-left: 2rem;
}

.textcolor a{
    color: white;
}
.menu li a:hover{
    border-bottom:2px solid black ;
    
   
}
