.wcuSubHead{
    font-family: var(--font-poppins);
    color: #0060FE;
    font-weight: bolder;
    margin-bottom: 12px;
}
.borderCircle{
    width: 34rem;
    height: 40rem; 
    margin-left: -24.5rem;
    border: none; 
    border-right: 3px solid #CCCDF1; 
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%;
}
.wcuLeftImg{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: drop-shadow(-2px 20px 14px rgb(181, 196, 238));
}

.text-center{
    text-align: center;
    color:#0060FE;
    font-family:  sans-serif;
    
}
.text-center h2{
    font-weight: 800;
}
.borderCircleright{
    width: 34rem;
    height: 40rem; 
    margin-left: 2rem;
    border: none; 
    border-left: 3px solid #CCCDF1; 
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%;
}
.lol{
    margin-left: -5%;
}
