.testimonial-img img{
    width: 60px;
    margin-top: -12%;
    margin-left: -90%;

}
.contentdiv{
    width: 557px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    box-shadow: #57636b4d 0 1px 2px, #17191a26 0 2px 6px 2px;
    border-radius: 16px;
}
.author p{
    margin-left: 70%;
}
.author{
    font-weight: 100;
}
.review{
    font-weight: 500;
    
}
.cards{
   margin: 10.5%;
    margin-top: 20px;
}

.pharmaciesTag{
    margin: 50px 0;
    padding: 0 20px;
}
 .pharmaciesTag h1{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
 }